
<!-- Realizado por Mariana Valderrama -->
{% extends 'base.html' %}

{% block title %}Lista de Reservas{% endblock %}

{% block content %}
<h2>Lista de Reservas</h2>

<!-- FORMULARIO DE FILTROS -->
<form method="get" class="mb-4">
    <div class="row">
        <div class="col-md-3">
            <input type="date" name="fecha_llegada" class="form-control" 
                   value="{{ request.GET.fecha_llegada }}" placeholder="Fecha de llegada">
        </div>
        
        <div class="col-md-2">
            <input type="number" name="personas" class="form-control" 
                   value="{{ request.GET.personas }}" placeholder="Personas">
        </div>
        <div class="col-md-2">
            <input type="text" name="plan" class="form-control" 
                   value="{{ request.GET.plan }}" placeholder="Tipo de plan">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-outline-primary w-100">Filtrar</button>
        </div>
    </div>
</form>

<!-- TABLA DE RESERVAS -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Llegada</th>
            <th>Salida</th>
            <th>Personas</th>
            <th>Plan</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for reserva in reservas %}
        <tr>
            <td>{{ reserva.id }}</td>
            <td>{{ reserva.fecha_llegada }}</td>
            <td>{{ reserva.fecha_salida }}</td>
            <td>{{ reserva.numero_personas }}</td>
            <td>{{ reserva.tipo_plan }}</td>
           {% if user.is_staff %}
                <a href="{% url 'reservas:editar_reserva' reserva.id %}" class="btn btn-primary btn-sm">
                    Editar
                </a>
                <a href="{% url 'reservas:eliminar_reserva' reserva.id %}" class="btn btn-danger btn-sm">
                    Eliminar
                </a>
            {% endif %}

        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center">No hay reservas que coincidan con los filtros.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'reservas:manejar_reserva' %}" class="btn btn-outline-success">Crear Reserva</a>
{% endblock %}
