<!-- Realizado por Alexandra Hurtado -->
{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Detalle del Pedido #{{ pedido.id }}</h2>
    <p><strong>Cliente:</strong> {{ pedido.usuario.nombre }}</p>
    <p><strong>Dirección:</strong> {{ pedido.usuario.direccion }}</p>


    <p><strong>Estado:</strong> {{ pedido.estado }}</p>
    <p><strong>Fecha:</strong> {{ pedido.fecha }}</p>
    <p><strong>Total:</strong> ${{ pedido.total }}</p>

    <h4>Productos</h4>
    <ul>
        {% for item in pedido.items.all %}
            <li>{{ item.cantidad }} x {{ item.producto.nombre }} - ${{ item.precio }}</li>
        {% empty %}
            <li>No hay productos en este pedido.</li>
        {% endfor %}
    </ul>

    
   {% if pedido.pago %}
    <h3>Pago - Estado: {{ pedido.pago.estado }}</h3>
    {% if pedido.pago.estado == "pendiente" %}
        <a href="{% url 'pedidos:pagar_pedido' pedido.id %}" class="btn btn-success">Ir a Pagar</a>
    {% endif %}
{% endif %}
</div>
{% endblock %}